# Konfigurasi Koneksi Database Nataru
# Salin file ini menjadi .env jika ingin menggunakan konfigurasi kustom

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=database_nataru
DB_CHARSET=utf8mb4

# Mode Default Database: MYSQL atau SQLITE
DEFAULT_DB_ENGINE=SQLITE

# Path Cache Parquet
PARQUET_CACHE_DIR=data_cache
